$color : rgb(46, 71, 93);

.pop_up_icon{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    background-color: #fff;
    z-index: 300;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 1px solid $color;
}
.pop_up{
    position: fixed;
    right: 1.5rem;
    bottom: calc(70px + 3rem );
    width: 40vw;
    height: calc( calc(100vh - 5rem ) - 70px );
    background-color: #fff;
    z-index: 300;
    min-width: 400px;
    max-width: 450px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
    max-height: 650px;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: .5rem;
    border: 1px solid $color;
    overflow: hidden;
    .pop_up_top{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background: #282c34;
        color: #fff;
        max-height: 100px;
        .top_left{
            display: flex;
            align-items: center;
            img{
                border: 1px solid #fff !important;
                border-radius: 40px;
            }
            
        }
        .pop_up_close{
            cursor: pointer;
            svg{
                fill: #fff;
            }
        }
        .user_info{
            margin-left: 1rem;
            .user_name{
                margin-bottom: 5px;
                font-style: italic;
            }
            .user_status{
                display: flex;
                align-items: center;
                font-size: 10px;
                div:nth-child(1){
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    margin-right: 5px;
                    background-color: greenyellow;
                }
            }
        }
    }
    .pop_up_content{
        border-radius: 10px;   
        padding: .5rem;
        padding-right: 0;
        max-width: calc(450px - 1rem);
        display: flex;
        flex-direction: column-reverse;
        max-height: 100%;
        overflow: hidden;
        min-height: max-content;
        height: 100%;
        .pop_up_content_messages{
            height: 100%;
            max-height: 100%;
            overflow-y: auto;
            padding-right: .5rem;
        }
    }
    .pop_up_bottom{
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: space-between;   
        overflow: hidden;
        padding: 1rem;
        border-top: 1px solid #282c34;
        align-items: center;
        .textArea{
            border-radius: 3px;
            font-size: 16px;
            line-height: 22px;
            min-height: 40px;
            max-height: 100px;
            overflow: hidden auto;
            padding: 8px;
            position: relative;
            width: 100%;
            flex-basis: 100%;
            word-break: break-word;
            cursor: text;
            border: medium none;
            background-color: transparent;
            max-width: 80%;
            outline: none;

        }
        .textArea:empty:before {
            display: block;
            content: attr(placeholder);
            position: relative;
            color: rgb(123, 152, 182);
            background-color: transparent;
            cursor: text;
            user-select: none;
            font-size: 16px;
            line-height: 22px;
        }

        svg{
            margin-right: 1rem;
            cursor: pointer;
            margin-top: 5px;
        }
    }
}
